body{
    margin:0;
    padding:0;
}
#hello
{
    color:rgb(83, 81, 81);
    font-size:40px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}
.nav-item
{
    font-family: 'Roboto Mono', monospace;
    color:rgb(83, 81, 81);
}
.navbar
{
    background:rgb(240, 94, 94);
}
.navbar-nav
{
    color:rgb(83, 81, 81);
    font-size:20px;
}
.d-block
{
    height:450px;
    padding:0 calc(10%);
    background: rgba(0,0,0,0.9);
}
.heads
{
    font-family: 'Roboto Mono', monospace;
    font-size:60px;
    color:rgb(240, 94, 94);
    font-weight:bolder;
    margin:50px calc(5%);
    text-align:center; 
     border: 2px solid rgba(83, 81, 81,0.9);
     border-radius:20px;
     background:rgba(0, 0, 0,0.9)
}
.items
{
    height:150px;
    width:calc(70%);
    padding:calc(3%); 
    margin-left:calc(12%);
    margin-bottom:5px;
    border:solid 1px rgb(83, 81, 81);
    text-align:center;
}
img.items{
    border-radius:25px 0 25px 0;
    background:rgb(240, 94, 94);
    text-align:center;
}
#add
{
    
   padding-left: 0px;
   margin-top:15px;
    margin-bottom:30px;
    text-align:center;
}
.list
{
    list-style-type: none;
    padding-left:0;
}
#submit
{
    padding-left:20px;
    padding-right: 20px;
    margin-right:15px;
}
#buttons
{
    margin-top:20px;
    margin-bottom:50px;
    margin-left:0;
}
.form-check
{
    padding: 0;
    margin-left: 10px;
}
.form-group
{
    margin-left:10px;
}
#aboutus
{
    color:rgb(83, 81, 81);
    background:rgb(240, 94, 94);
    border-top:2px solid rgba(83, 81, 81,0.7);
    border-bottom:2px solid rgba(83, 81, 81,0.7);
    padding:20px 15px 5px 15px;
}
#submit
{
    color:rgba(0, 0, 0,0.9);
    background:rgb(240, 94, 94);
    border:1px solid rgba(83, 81, 81,0.7);
}
#policy
{
    color:rgb(240, 94, 94);
    border:1px solid rgb(240, 94, 94);
    background:rgba(0,0,0,0.9);
}
.forum
{
    color:rgb(83, 81, 81);
    font-family: 'Roboto Mono', monospace;
}
h3
{
    font-family: 'Roboto Mono', monospace;
}
.item
{
    color:rgb(83, 81, 81);
    font-family: 'Roboto Mono', monospace;
    text-align:center;
}
button
{
    background:#fff;
    border-radius:5px;
    border:1px solid rgb(83, 81, 81);
    color:rgb(240, 94, 94);
    font-weight: bold;
    font-size:18px;
}
button:hover
{
    background:rgba(0,0,0,0.9);
}
.subtract
{
    padding: 0 6px; 
}
.add
{
    padding: 0 3px;
}
.quantity
{
    padding:0;
    padding-left:4px;
    width:25px;
}

.carousel-control-next-icon
{
    margin-right:calc(70%);
}
.carousel-control-prev-icon
{
    margin-left:calc(70%);
}
.overlay
{
    position: absolute;
    top: 3%;
    bottom: 0;
    left: 17.7%;
    right: 0;
    height:53%;
    width: 59.3%;
    opacity:0;
    transition: all .5s ease;
    background-color: #000;
    text-align: center;
    border-radius:23px 0 25px 0;
  }
.col-sm-4:hover .overlay
{
    opacity:0.9;
}
.text
{
    color:rgb(240, 94, 94);
    margin-top: 25%;
}
.total{
    
    background:rgba(0, 0, 0,0.9);
    margin-left:calc(3%);
    padding:2px 8px;
}
#total
{
    margin-top:10px;
}
.navbar-toggler:hover
{
    background:rgb(240, 94, 94);
}
i{
    margin-right:5px;
}
.fab,.fa
{
    font-size:18px;
}
.carousel-caption
{
    font-size:18px;
}

